html
{
    height: fit-content;
    
}

header{
    width: 100%; ;
    border-bottom: 1px solid black;
    text-align: center;
    border-top: 1px solid black;
    /* border-top: 2px solid rgba(0,0,0,0.3); make the border more natural with transparent*/
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    /* sans-serif ist eine General backup font */
    font-style: italic;
    color: skyblue;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 40px;

}
/* for same  */
.liste1,.liste2,.liste3{
    display: block;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid black;
    /* list-style-position: inside;
    text-align: center; */
    margin-left:40px;
    
    
}

.liste1 a{
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}
.liste1 a:hover{
    color: red;
    font-size: 1.5em;

}
/* .liste1 a:hover::after{
    content: '🖱';
    color: red;
    font-size: 1.5em;
    font-family: cursive; */
    
}
.liste1 span{
    font-size: 1.2em;
    font-weight: bold;
    color: blue;
    font-style: italic;
}

.mainmenu::marker{
    content: '🌿';
    color: red;
    font-size: 1.5em;
    font-family: cursive;
    
}

.submenu li::marker{
    content: '🍴';
    color: green;
    font-size: 1.5em;
    font-family: cursive;
    
}

#kaffee li::marker{
    content: '☕';
    color: brown;
    font-size: 1.5em;
    font-family: cursive;
    
}

.liste3 p{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(00, 00, 00);
    font-style: italic;
}

/* .liste3 p::after{
    content: 'Try out best coffee in town';
    color: red;
    font-size: 1.5em;
    font-family: cursive;
    visibility: hidden; 
    background-color: rgba(0,0,0,0.3);
    

}
.liste3 p:hover::after{
    visibility: visible;
    font-size: 1.5em;
    font-family: cursive;
    color: blue;
    font-weight: bold;
    font-style: italic; */
    
     
dl{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 200px;

    
}
    





