html{
    background-color: white;
    }
    
h1{
    color: blue;
    font-size: 60px;
    text-decoration: underline;
}
p{
    font-size: 30px;
    
}
h2{
    color: black; 
    font-size: 40px;
    text-decoration: underline;
}
 
span{
    
    font-weight: bolder;
}