body{
   height: 1000vh;
   overflow: auto;
}

/* attributor for overflow can be: visivle, hidden,scroll,auto */




div{
    width: 200px;
    height:200px;
    background-color: gray;
    margin-bottom: 10px;
   
}
#relativesDiv{
    background-color: saddlebrown;
   /* position: relative;
    top: 20px;
    left:30px;*/
    
}
#absolutesDiv{

    background-color: aquamarine;
    /*position: absolute;
    left: 200px;
    bottom: 20px;*/


}
/*Eleternelement*/
#kombiRelative{
    position: relative;
}

/*Kinderelement*/
#kombiAbsolute{
    background-color: burlywood;
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 50px;
}

#fixedDiv{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: blue;
    
}   
#stickyDiv{
    width: 100%;
    height: 40px;
    position: sticky;
    top: 80px;

    
    background-color: pink;
    
}