body{ max-width: 80%;
      margin: auto;

}






h1{color: rgb(255,0,0);
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 8px;

  }

    h2{color: rgb(0,0,0);
        text-align: center;
        font-size: 20px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        

    }

    h2 span{font-weight:bold ;
            font-size: 50px;}

    
            /*h2::first-letter{
        color: rgb(0,0,0);
        font-size: 50px;
            }*/
            /* text-tr
            ansform: uppercase; */

    #pic1{
        width: 300px;
        height: 150px;
        margin-bottom: 5px;
        float: left;
        margin-left: 5PX;
        margin-right: 10px;
        border-radius: 15px;
    }
    p{
        font-size: 16px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: justify;
        margin-bottom: 20px;
        margin-right: 50px;
        margin-left: 50px;
    }
    .text1{
        font-size: 16px;
        margin-bottom: 20px;
        margin-left: 50px;
    }

    #pic2{
        width: 300px;
        height: 150px;
        margin-bottom: 5px;
        float: right;
        margin-left: 10px;
        margin-right: 5px;
        border-radius: 50%;
    
    }



