img{width: 500px;
    height: 300px;
    border: 1px solid black;
    /* box-shadow: 5px 5px 5px #888888; */
    display: block;


}

figure{
    position: relative;
    
}
figcaption{
    position: absolute;
    bottom: 0;
    width: 500px;
    text-align: center;
    color: whitesmoke;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(100,100,100, 0.5);
    
}