.ellipsis{

    white-space: nowrap;
    /* white-space: pre; */ 
    /* white-space: normal; */
      /* white-space: pre-wrap; */
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: 50px;
}

div{
    border:2px solid;
    height: 700px;
    width: 800px;

}

