
/* for style of whole page */
body{
    
    background-color: #f4f4f4;
    text-align: center;
    margin: auto;
    padding: auto;

}
/* for style of header */
header{
    color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 30px;
    background-color:rgb(100,200,100);
    font-family: 'Times New Roman', Times, serif;
}

header p{
    font-size: 25px;
    font-weight: bold;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: #f4f4f4;
    text-transform:capitalize
}


nav{
    background-color:rgb(100,200,200);
    color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 10px;
    

}
li{ 
    list-style: none;
    display: inline;
    padding: 0 10px;
}
img{
    display: block;
    width: 200px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
   
    

}
main{
      text-align: center;

}