.HeadingColor {
    color: red;}
.blue{
    color: blue;
}
#Green{color: green;}

#background{
    background-color: gray;
}
.underline{
    text-decoration: underline;
}
p>i{
    text-decoration: underline;color: blue;
}